@charset "utf-8";
body {
	background-image: url(resimler/floral-2622312_960_720.jpg);
	background-repeat: repeat;
}
#sablon {
	padding: 10px;
	height: auto;
	width: 980px;
	border: 1px solid #000;
	margin-right: auto;
	margin-left: auto;
	background-color: #ECE2A5;
}
#header {
	height: 150px;
	width: 980px;
}
#logo {
	float: left;
	height: 146px;
	width: 185px;
	border: 2px double #000;
}
#menu {
	float: left;
	height: 36px;
	width: 586px;
	border: 2px double #000;
	margin-top: 51px;
	margin-right: 100px;
	margin-bottom: 51px;
	margin-left: 100px;
}
#sablon #header #menu ul {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 75px;
	list-style-type: none;
}
#sablon #header #menu ul li a {
	line-height: 36px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
	height: 36px;
	width: 110px;
}
#sablon #header #menu ul li a:hover {
	line-height: 36px;
	font-weight: bold;
	color: #F36;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
	height: 36px;
	width: 110px;
}
#clear-header {
	clear: both;
}
#banner {
	padding: 0px;
	height: 320px;
	width: 980px;
	margin-top: 10px;
}
#divider {
	background-image: url(resimler/3.png);
	background-repeat: repeat;
	height: 22px;
	width: 900px;
	margin: 20px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#content {
	height: 250px;
	width: 980px;
}
#content-1 {
	float: left;
	height: 198px;
	width: 298px;
	border: 1px solid #000;
}

#content-2 {
	height: 198px;
	width: 298px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	border: 1px solid #000;
}

#content-3 {
	height: 198px;
	width: 338px;
	float: left;
	border: 1px solid #000;
}

#clear-content {
	clear: both;
}
#footer {
	height: 20px;
	width: 980px;
	font-size: 10px;
}
